body 
{
    background-color: #0d1117;
}

#title 
{
    font-size: 40px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #e6edf3;
}

#loginDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #161b22
	margin: auto;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin: auto;
    padding: 25px;
    background-color: #161b22;
	color: white;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin: auto;
    padding: 25px;
    background-color: #161b22;
}
#accessUIDivSearchPage
{
	font-size: 30px;
    width: 70%;
    margin: auto;
    padding: 25px;
    background-color: #161b22
	display: grid;

}
.searchButtonSearchPage
{
	font-size: 30px;
    border-radius: 25px;
    width: 11%;
	height: 6.7%;
    font-family: 'Arial', sans-serif;
	//grid-row: 1;
	//grid-column: 1;
	margin-left: 100%;
	margin-top: -41;
	//margin: auto;
	background-color:#238636;
	
	
}

.searchButtonSearchPage:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
	
}


.addButtonSearchPage
{
	 font-size: 30px;
    border-radius: 25px;
    width: 6%;
    position: relative;
    font-family: 'Arial', sans-serif;
	grid-row: 2;
	margin-left: 90%;
	
	
}

.addButtonSearchPage:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

#colorListSearchPage
{
    background-color: 171B21;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	
	margin: auto;
	margin-top: -0.5%;
	
	width: 98%;
    outline-color: 3366ff;
	max-height:250px;		
	overflow:auto;
	color: #E6EDF3
}
#colorListSearchPage:hover{ 
	cursor: pointer;
}

#box
{
	//grid-row: 1;
	width:110%;
	//grid-column: 1;
	margin: auto;
	
	
	

}

.buttons
{
    background-color: #0d1117;
	font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Arial', sans-serif;
	color: #E6EDF3;
	border: 1px solid #161b22
																																																																																								}

.buttons:hover{
    background-color: #3366FF;
    color: #FFFFFF;
	
    opacity: 50%;
	outline-color: #3366FF;
}

#loginName
{
	font-size: 30px;
	background-color: #0d1117;
}
#loginPassword
{
	font-size: 30px;
	background-color: #0d1117;
}

#searchText
{
	font-size: 30px;
	
}
#colorText
{
	font-size: 30px;
}

#inputSearchPage[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 90%;
    margin: auto;
    font-family: 'Arial', sans-serif;
    border: 1px solid #3366FF;
    box-shadow: 0 0 1px 1px #3366FF;
    outline: #171B21;
    color: #E6EDF3;
    background-color: 171B21
	
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Arial', sans-serif;
    color: #e6edf3;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Arial', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Arial', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Arial', sans-serif;
    color: #95060a;
}

